body {
    background-color: #c4cef1;
}
.content {
    background-color: #FFF;
    padding: 20px;
    margin-top: 60px;
}
.active {
    background-color: #0099FF;
}
.progress-bar {
    position: fixed;
    display: block;
    z-index: 1100;
    background-color: #4b4b6f;
    height: 5px;
    left: 0;
}

.header-avatar-parent {
    border: 1px solid #28a745;
    border-radius: 50%;
    margin-left: 5px;
}
.header-avatar-parent:hover {
    cursor: pointer;
    background-color: #ffffff;
}
.nav-pills .show>.nav-link {
    background-color: inherit;
}
.header-avatar {
    height: 40px;
}

.dropdown-menu.show {
    left: 0;
    right: auto;
}

@media (min-width: 768px) {
    .dropdown-menu.show {
        left: auto;
        right: 0;
    }
}
